body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #fff;
}
header {
    background-color: black;
    padding: 1em;
    text-align: center;
}
section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: black;
    border-radius: 8px;
}
h1, h2 {
    color: red;
}
p {
    line-height: 1.5;
}
ul {
    list-style: none;
    padding: 0;
}
ul :hover{
    color: white;
}
li {
    margin-bottom: 0.2em;
}
footer {
    background-color: black;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: red;
}

.image-container {
    display: flex;
    align-items: center;
}

.image-container img{
    max-width: 100%;
    margin-right: 20px;
}